#root {

}

body {
  height: calc(100vh - 80px);
}

.app-wrapper {
  display: flex;
  flex-direction: column;

}

header {
  background: #4b555f;
}

header p {
  font-size: 24px;
  color: #969494;
}

.tabs-container {
  display: flex;
  height: 100%;
}

.tabs-sidebar {
  width: 100%;
  max-width: 240px;
}

.tabs-sidebar h4 {
  color: #969494;
  font-size: 20px;
  padding: 0 15px;
}

.tab-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
  transition: 0.4s all;
}

.tab-selector>div {
  display: flex;
}

.tab-selector.active {
  background: #f3f3f3;
  border-left: 2px solid #5390ea;
}

.tab-selector span{
  color: #b2afb9;
}

.tab-selector.active span{
  color: #9b9095;
  font-weight: 700;
}

.tabs-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  background: #f3f3f3;
}

.tab-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-header {
  height: 110px;
  background: #00d1b2;
}

.tab-header h4 {
  font-size: 20px;
  padding: 0 20px;
  color: #fff;
  font-weight: 400;
}

.tab-body {
  display: flex;
  padding: 20px;
  background: #fafbff;
}

.part-content {
  width: 100%;
}

.part-content-header {
  display: flex;
  align-items: center;
}

.part-content h5 {
  color: #5390ea;
}

.part-content p {
  margin: 0 0 10px 0;
}

.part-content h6 {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px;
  color: #c7c5d0;
}

.part-content p span {
  display: block;
  background: #f5f5f5;
  font-size: 15px;
  padding: 5px 10px;
}

.actions {
  padding: 30px 0 0 10px;
}

.part-content.right p{
  display: flex;
  align-items: center;
  background: #f5f5f5;
  height: 30px;
  margin: 0 0 5px 0;
  padding: 0 0 0 10px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}
